# Ignore build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
*.tlog
*.vscode/
*.ide.*
*.ncrunch*

# Temporary files
*.tmp
*.temp
~$*

# Compiled DLLs and EXEs
*.dll
*.exe
*.pdb

# Dependency directories
packages/
.vscode/
.vs/

# Rider projects
.idea/
*.sln.iml

# Debug/Release folders
Debug/
Release/
x64/
x86/
out/
build/
TestResults/

# Dotnet specific
*.dotnetwatch
*.generated.cs
project.lock.json
project.fragment.lock.json
artifacts/
/Code/.vs/AISoccerAPI/v17/.suo
/Code/.vs/AISoccerAPI/FileContentIndex/e5447099-1c2f-47d6-91bb-0e74e6d645ec.vsidx
/Code/.vs/AISoccerAPI/FileContentIndex/e5447099-1c2f-47d6-91bb-0e74e6d645ec.vsidx
/Code/.vs/AISoccerAPI/v17/.suo
/Code/.vs/AISoccerAPI/v17/DocumentLayout.json
/Code/AISoccerAPI/bin/Debug/net8.0/AISoccerAPI.dll
/Code/AISoccerAPI/bin/Debug/net8.0/AISoccerAPI.exe
/Code/AISoccerAPI/bin/Debug/net8.0/AISoccerAPI.pdb
/Code/AISoccerAPI/obj/Debug/net8.0/AISoccerAPI.AssemblyInfo.cs
/Code/AISoccerAPI/obj/Debug/net8.0/AISoccerAPI.AssemblyInfoInputs.cache
/Code/AISoccerAPI/obj/Debug/net8.0/AISoccerAPI.dll
/Code/AISoccerAPI/obj/Debug/net8.0/AISoccerAPI.pdb
/Code/AISoccerAPI/obj/Debug/net8.0/AISoccerAPI.sourcelink.json
/Code/AISoccerAPI/obj/Debug/net8.0/apphost.exe
/Code/AISoccerAPI/obj/Debug/net8.0/ref/AISoccerAPI.dll
/Code/AISoccerAPI/obj/Debug/net8.0/refint/AISoccerAPI.dll
/MLSoccer/CSV/20250122_Away.zip
/MLSoccer/CSV/20250122_Home.zip
/MLSoccer/CSV/20250122_MatchFeatures.csv
/MLSoccer/CSV/20250122_Prediction.csv
/MLSoccer/CSV/20250123_MatchFeatures.csv
/MLSoccer/CSV/20250123_Prediction.csv
/MLSoccer/CSV/Away.zip
/MLSoccer/CSV/Home.zip
